@charset "utf-8";
/* CSS Document */
/*reset*/
body, h1, h2, h3, h4, h5, h6, p, hr, dl, dd, ul, ol, form, input, textarea, th, td, select { margin: 0; padding: 0;}
body { font: 16px/1.5 "Microsoft Yahei", "Simsun" ,"sans-serif"; -webkit-text-size-adjust: none; background: #fff; color: #555;}
i, em, b { font-style: normal; vertical-align: top; color: #333;}
li { list-style: none;}
a { text-decoration: none;}
img, fieldset { border: none; vertical-align: top;}
/*table { border-collapse: collapse;}*/
input, textarea, select ,button { outline: none; color: #333;-webkit-tap-highlight-color:rgba(255,255,255,0);}
textarea { resize: none; overflow: auto;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
input,select,a{-webkit-tap-highlight-color:rgba(255,255,255,0);}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {  -webkit-appearance: none;  margin: 0;}
body{
	max-width:640px;
	margin:0 auto;
	background: #fff;
}
ul {
	list-style:none;
}
img {
	border:none;
}
a {
	color:#444;
	text-decoration:none;
	cursor:pointer;
}
.clear{
	clear:both;
}
.container{
    position: relative;
	height: auto;
	max-width: 640px;
	margin:0 auto;
    overflow: hidden;
	background-size:100%;
}
.block img{
	width: 100%;
}
.QRcode-block{
	background: #EC5054;
	width: 100%;
	display:-webkit-flex;
	display:-ms-flex;
	display: flex;
}
.QRcode{
	width: 10rem;
	height:10rem;
	border:5px solid #FFD323;
	margin-left: 2rem;
}
.QRcode img{
	width: 100%;
	height: 100%;
}
.img-bg{
	flex: 1;
}
.img-bg img{
	width: 100%;
}
/*抽奖转盘*/
.block3{
	padding: 0 1rem;
	background:#7EDC94 url("../images/lottery-bg.png") no-repeat 0 0;
	background-size: 100% auto;
}
#lottery{
	height:auto;
	background:url("../images/aword_bg.png") no-repeat;
	background-size:100% 100%;
	text-align:center;
	padding:18px;
	
}
#lottery table{
	width:100%;
	height:auto;
	margin:0 auto;
	background:#D22E3B;
	border-radius:0.8rem;
	
}
#lottery table td{
	width:33%;
	text-align:center;
	vertical-align:middle;
	font-size:1rem;
	color:#F54040;
	background:#FFF9EF;
	border-radius:0.6rem;
	border-bottom:0.5rem solid #E2AA94;
	overflow:hidden;
}

#lottery table td img{
	width:100%;
	height:auto;
	border-radius:0.6rem;
}
#lottery .lottery_btn{
	width:33%;
	border-bottom:0.5rem solid #E18F4E;
	padding:0;
	background:#FFD700;
	color:#F54040;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
}
#lottery .lottery_btn:active{
	background:#ffc000;
}

#lottery table td.active{
	background-color:#ffe6aa;
}
.block3 .aword_link {
	text-align:right;
	background: #EB5347;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	padding:10px 18px 10px 0;
}
.block3 .aword_link a{
	font-size:1.3rem;
	color:#FFD700;
	border-bottom:1px solid #FFD700;
}
/*弹框*/
.popup{
	display: none;
	background: #fff;
}

.popup .bg1{
	background:url("../images/popup-bg1.png") no-repeat 0 0;
	background-size: 100% 100%;
}
#popup2 .bg2{
	background:url("../images/popup-bg2.png") no-repeat 0 0;
	background-size: 100% 100%;
}
#popup2 .content,#popup3 .content{
	padding:1rem 0 3rem;

}
.zhezhao{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:#000;
	opacity:0.6;
	filter:alpha(opacity=60);
	z-index:100;
}

.zhezhao_content{
	position:fixed;
	top:50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	border-radius:8px;
	z-index:101;
	width: 85%;
	max-width:30rem;
}
.zhezhao_content .title{
	height: 3rem;
	line-height: 3rem;
	position: relative;
	color: #ffffff;
}

.zhezhao_content .close_btn{
	display: table-cell;
	position: absolute;
	right:10px;
	top:5px;
	vertical-align: middle;
	width:35px;
	height:35px;
	border-radius: 50%;
	color: #DD4E41;
	background: rgba(0, 0, 0, 0.3);
	z-index: 102;
	text-align: center;
	font-size: 30px;
	line-height: 100%;
}
#popup2 .zhezhao_content .close_btn{
	color: #999;
}
.zhezhao_content .content{
	margin: 0 auto;
	padding:0 1rem 1rem;
}
.zhezhao_content .content .text{
	color: #fff;
	font-size: 1.8rem;
	text-align: center;
}
.zhezhao_content .content .text b{
	color: #FEF7DA;
	font-size: 2rem;
	line-height: 180%;
}
.bg2 .content .text b{
	color: #fff;
}
.desc{
	color: #fff;
	text-align: center;
	font-size: 1.2rem;
	margin-top:3rem;
}
.award-text{
	color: #FEE101;
}
.btn-groups{
	display:-webkit-flex;
	display:-ms-flex;
	display: flex;
	background: #FEF7DA;
	padding:0 8%;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.btn-groups .btn{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #FEF7DA;
	border:1px solid #EE584B;
	height: 3.5rem;
	line-height: 3.5rem;
	text-align: center;
	margin:18px 0;
	border-radius: 10px;
	color: #DA4405;
	font-weight: bold;
	font-size: 1.6rem;
	width: 100%;
}
.btn-s{
	width: 46%;
}
.btn-s:first-child{
	margin-right:8%;
}
.btn-groups .btn-bg{
	border: none;
	background: url("../images/btn-bg.png") no-repeat 0 0;
	background-size: 100% 100%;
}
/*我的奖品*/
.information{
	width: 100%;
	min-height:100%;
	background: url("../images/information.png") no-repeat center 0;
	background-size: 100% 100%;
}
.main{
	width:90%;
	margin:0 auto;
	text-align: center;
	padding-bottom: 10%;
}
.style1{
	padding-top: 30%;
}
.style2,.style3{
	padding-top: 18%;
}
.main .title{
	color: #FB7235;
	margin-bottom: 1rem;
	font-size: 2rem;
}
.main .sub-title{
	color: #FB7235;
	font-weight: normal;
	font-size: 1.2rem;
}
.main .adress{
	width: 94%;
	padding:8px 3%;
	border:none;
	border-radius: 5px;
	font-size: 1.5rem;
	line-height: 180%;
}
.main .tel{
	width: 100%;
	height:3.5rem;
	border:none;
	text-indent: 10px;
	font-size: 1.6rem;
	border-radius: 5px;
}
.style2 .sub-title,.style3 .sub-title{
	text-align: left;
	margin-top:10px;
	text-indent: 10px;
}
.next-btn{
	height: 3.5rem;
	line-height: 3.2rem;
	display: block;
	width: 100%;
	background: url("../images/next-btn.png") no-repeat 0 0;
	background-size: 100% 100%;
	color: #533E7B;
	font-weight: bold;
	font-size: 1.7rem;
	margin-top: 30%;
}
.style2 .next-btn{
	margin-top: 20%;
}
/*我的奖品*/
.myaward{
	width: 100%;
	min-height:100%;
	background: url("../images/myaward-bg.png") no-repeat 0 0;
	background-size: 100% 100%;
}
.myaward .main{
	padding-top:30%;
}
.myaward .next-btn{
	margin-top:10%;
}
.aword_content,.information_content{
	height:auto;
	position: relative;
}
.aword_content .aword_list{
	color:#fff;
	height:5rem;
	line-height: 5rem;
	border-bottom: 1px dashed #fff;
	padding:0 0.5rem;
}
.aword_content .aword_list:last-child{
	border-bottom: none;
}
.aword_content .aword_list .aword_text{
	color:#E73B31;
	float: left;
	font-size:1.5rem;
}
.aword_content .aword_list .btn{
	float: right;
	height:3rem;
	line-height: 3rem;
	margin-top:1rem;
	width: 35%;
	font-size:1.5rem;
	border-radius: 5px;
}
.aword_content .aword_list .btn_yellow{
	color: #D45D3E;
	background:#FDF094;
	border-bottom:0.3rem solid #DBBE64;
}
.aword_content .aword_list .btn_yellow:active{
	background:#fcd774;
}

.aword_content .aword_list .btn_green{
	color: #75D7BA;
	background:#34A584;
	border-bottom:0.3rem solid #4BAF92;
}
.main .describe{
	color:#98B48D;
	font-size:1.2rem;
	text-align: center;
	height: 3rem;
	line-height: 3rem;
}
.main .back_btn{
	text-align: center;
}
.main .back{
	font-size:2rem;
	font-weight:bold;
	width:100%;
	height:4.5rem;
	line-height: 4.5rem;
	margin:1rem auto 2rem;
	text-align:center;
	overflow:hidden;
	background:#FEE101;
	color:#DA4405;
	border:none;
	border-radius:0.8rem;
	border-bottom:0.3rem solid #FEA801;
	outline:none;
}
.main .back:active{
	background:#fcd774;	
}
/*::-moz-placeholder { color: #BDA48F; }
::-webkit-input-placeholder { color:#BDA48F; }
:-ms-input-placeholder { color:#BDA48F; }*/

/*媒体查询*/
html{font-size: 62.5%}
@media screen and (min-width:375px){
	html{font-size:68%}
}
@media screen and (min-width:414px){
	html{font-size:73.24%}
}
@media screen and (min-width:481px){
	html{font-size:94%}
}
@media screen and (min-width:561px){
	html{font-size:109%}
}
@media screen and (min-width:641px){
	html{font-size:115%}
}
@media screen and (max-width:360px){
	.QRcode{
		width: 9rem;
		height:9rem;
	}
}
@media screen and (max-width:320px){
	.QRcode{
		width: 8rem;
		height:8rem;
	}
}
