@charset "utf-8";
/* CSS Document */
/*reset*/
body, h1, h2, h3, h4, h5, h6, p, hr, dl, dd, ul, ol, form, input, textarea, th, td, select { margin: 0; padding: 0;}
body { font: 16px/1.5 "Microsoft Yahei", "Simsun" ,"sans-serif"; -webkit-text-size-adjust: none; background: #fff; color: #555;}
i, em, b { font-style: normal; vertical-align: top; color: #333;}
li { list-style: none;}
a { text-decoration: none;}
img, fieldset { border: none; vertical-align: top;}
/*table { border-collapse: collapse;}*/
input, textarea, select ,button { outline: none; color: #333;-webkit-tap-highlight-color:rgba(255,255,255,0);}
textarea { resize: none; overflow: auto;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;}
input,select,a,label{-webkit-tap-highlight-color:rgba(255,255,255,0);}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
body{
    max-width:640px;
    margin:0 auto;
    background: #ffffff;
}
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.inline-block{
    display: inline-block;
}
.clearfix{
    clear: both;
}
.top img{
    width: 100%;
    display: block;
}
.center{
    padding:2rem 0 0;
}
.center .form-group{
    height:6rem;
    padding:0 4%;
}
.form-group label{
    font-size: 1.4rem;

}
.form-group input{
    background: #fff;
    height: 4rem;
    border-radius: 3px;
    text-align: left;
    font-size: 1.4rem;
    border: none;
    color: #333;
    -webkit-appearance: none;
}
.form-group .choose-bg{
    width: 32%;
    background:#e0e0e0 url("../images/arrow-down.png") no-repeat 94% center;
    background-size: 1.8rem;
    padding:0 3rem 0 1rem;
    margin-left:1.4rem;
}
.form-group .small-input{
    background:#e0e0e0;
    width: 18%;
    padding: 0;
    text-align: center;
    margin-left:1.4rem;
}
.price{
    width: 100%;
    height: 4.5rem;
    background: #f2f2f2;
    position: relative;
}
.price p{
    padding:0 2%;
    height: 4.5rem;
    line-height: 4.5rem;
}

.price p em{
    color:#ff4734;
    font-size: 2rem;
    font-weight: bold;
}
.price p em b{
    font-size: 1.4rem;
}
.price p em strong{
    font-size: 1.6rem;
    position: relative;
    bottom:-0.08rem;

}
.price a{
    cursor: pointer;
    width: 10rem;
    height: 4.5rem;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    line-height: 4.5rem;
    font-size: 1.6rem;
    background:#f96d2f;
    color:#fff;
}
.bottom{
    padding:2rem 4%;
}
.bottom .title{
    font-weight: bold;
    /*font-size: 1.6rem;*/
}
.bottom p{
    margin:6px 0;
    font-size:1.2rem;
    line-height: 180%;
}
.link a{
    width:48%;
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    background: transparent;
    color: #F96D2F;
    font-size: 1.6rem;
    text-align: center;
    margin:2rem 0 2px;
    border-radius: 3px;
    border:1px solid  #F96D2F;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.link a.btn-large{
    width: 100%;
}
.radio{
    position: absolute;
    left:-99999px;
}
.radio-label{
    display: inline-block;
    min-width: 18%;
    height: 4rem;
    margin-right:2%;
    cursor: pointer;

}
.normal .radio-label:first-child{
    margin-left: 1.4rem;
}
.radio-group{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    display: inline-block;
}
.radio-style{
    width: 100%;
    padding:0 8px;
    height: 4rem;
    background: #E0E0E0;
    border-radius: 3px;
    display: inline-block;
    color: #999;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}
.radio:checked +.radio-style{
    background: #90BB46;
    color: #fff;
}

/*新增理赔服务*/
body{
    background: #F0F0F0;
}
.bottom,.center{
    background: #fff;
}
.bottom .link{
    overflow: hidden;
}
/*font reset*/
html{font-size: 62.5%}
@media screen and (min-width:320px){
    html{font-size:60%}
}
@media screen and (min-width:375px){
    html{font-size:68%}
}
@media screen and (min-width:414px){
    html{font-size:73.24%}
}
@media screen and (min-width:481px){
    html{font-size:94%}
}
@media screen and (min-width:561px){
    html{font-size:109%}
}
@media screen and (min-width:641px){
    html{font-size:115%}
}