* {
	tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-ms-tap-highlight-color: rgba(0, 0, 0, 0);
}
.ui-panel{
	box-shadow: none;
	margin: 0 auto 30px;
	padding:0 4%;
}
.ui-panel-title{
	line-height:70px;
}
.transfer .ui-form-group{
	height: 94px;
}
#idtype{
	width:41%;
}
#insure .ui-info{
	font-size:25px;
	color:#666;
	height: 94px;
	padding:0;
	margin:0;
	line-height:94px;
	display:block;
}
.ui-btn.btn-insure,.ui-btn-buy{
	width:100%;
	height:94px;
	border-radius:4px;
	background-color: #E5A600;
	color:#fff;
	font-size:36px;
	line-height:94px;
	margin-top:20px;
}
.ui-action-travel{
	margin:50px 0;
}
.ui-btn.btn-insure:active,
.ui-btn.btn-insure:focus,.ui-btn-buy:active,.ui-btn-buy:focus{
	background-color:#B88601;
}

.ui-tip{
	padding:40px 58px 0 58px;
	line-height:44px;
	color:#0066FF;
	font-size:30px;
	background: url(../../image/common/arr-bottom.png) 20% top no-repeat;
}
#pay .ui-input{
	width: 100%;
}
.ui-coverage{
	padding:30px 58px 70px;
	background-image: -webkit-linear-gradient(top, #569dfd, #2d7eec 100%);
	background-image: linear-gradient(top , #569dfd, #2d7eec 100%);
}
.ui-coverage .ui-label{
	color:#fff;
}
.ui-buy-price .ui-input{
	display: inline-block;
	width:80%;
	margin-right:5%;
	vertical-align: middle;
}
.ui-buy-price{
	color:#fff;
	font-size:60px;
}

.err-mes {
	display: none;
	height:60px;
	line-height: 60px;
	color: #6A1686;
	font-size: 26px;
	padding:0;
	background: url("error-ms.png") no-repeat left center;
	padding-left: 40px;
}
.ui-notice-view{
	float: right;
  	font-size: 26px;
  	cursor: pointer;
}
.ui-notice-view span{
	margin-right:15px;
}
.ui-notice-view b{
	position: relative;
	top:-5px;
	width: 2rem;
	height: 2rem;
	display:inline-block;
	vertical-align:middle;
	background: url(arrow.png) no-repeat center;
	background-size:auto 100%;
	-webkit-transition: all .3s ease;
	margin-left: 8px;
}
.ui-notice-view.open b{
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
}
.ui-notice-panel{
	width: 100%;
	background: #FFF9E4;
	border-radius:8px;
	padding: 20px;
	margin-bottom:30px;
}
/* #insure .ui-notice-panel span{
	display: block;
} */
.ui-notice-panel p{
	font-size: 14px;
	line-height: 150%;
	color: #333;
}
.check_info{
	background: url(../../image/common/gz-check.png) no-repeat left center;
	padding-left: 44px;
	height: 44px;
	line-height: 44px;
	font-size: 30px;
}
#check_info_simu,#check_info_simu2{
	width: 44px;
	height: 45px;
	display: inline-block;
	/*background: url(../../image/common/gz-check.png) no-repeat center;*/
}

/* 投保告知与法律声明 */
.small-title{
	font-size: 28px;
  	color: #cccccc;
}
.small-title-view b{
	width:34px;
	height:34px;
	vertical-align:middle;
	background: url(../../image/common/icon-todo-blue.png) no-repeat center;
	background-size:auto 100%;
	-webkit-transition: all .3s ease;
}
.small-title-icon-panel{
	font-size: 30px;
	line-height: 30px;
	background: #EBEBEB;
	border-radius:8px;
	padding:10px 30px;
	display: none;
}
/* 投保告知与法律声明 */

.health-title-view{
  	font-size: 28px;
  	color: #cccccc;
}
.health-title-view b{
	width:34px;
	height:34px;
	vertical-align:middle;
	background: url(../../image/common/icon-todo-blue.png) no-repeat center;
	background-size:auto 100%;
	-webkit-transition: all .3s ease;
}

.health-title-icon-panel{
  	color: #cccccc;
	font-size: 30px;
	line-height: 30px;
	background: #EBEBEB;
	border-radius:8px;
	padding:10px 30px;
	display: none;
}
.ui-agree-select {
    background: #dddddd none repeat scroll 0 0;
    border-radius: 4px;
    color: #371c0e;
    display: inline-block;
    font-size: 26px;
    height: 50px;
    line-height: 50px;
    margin-left: 15px;
    text-align: center;
    width: 90px;
}
.ui-agree-select.active{
	background: #fff url(select.png) no-repeat center center;
	background-size:100% 100%;
	color: #666;
	border:0;
}
.ui-agree-select{
	background: none;
	border:1px solid #ccc;
	color: #999;
	cursor: pointer;
}
/*修改*/
body{
	background: #F6F6F6;
	
}
.ui-tip{
	padding:0;
	margin:0;
	background: #943EBD;
	height: 94px;
	line-height:94px;
	text-align: center;
	color: #fff;
	font-size:38px;
	margin-bottom: 36px;
}
#insure .ui-form-group{
	background: #e0e0e0;
	height: 94px;
	line-height: 94px;
	border-radius:4px;
	margin-bottom:36px;
}
#pay .ui-form-group{
	background: #E0E0E0;
}
#insure .ui-form-group label,#pay .ui-form-group label{
	float: left;
	width: 25%;
	height: 70px;
	line-height: 70px;
	padding: 0;
	margin: 12px 0;
	border-right:1px solid #ccc;
	text-align: center;
	font-size: 28px;
	color: #9A9A9A;
}
#pay .ui-input{
	outline: none;
}
.ui-form-group.ui-form-inline{
	background: #E0E0E0;
}
#insure .ui-form-group.ui-form-inline{
	background: #fff;
}
.ui-select{
	outline: none;
	padding: 0 0 0 15px;
	height: 94px;
	border: none;
	appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    background: #E0E0E0 url("arrow-down.png") no-repeat 94% center;
    padding-right: 15px;
    font-size: 28px;
}
.ui-select::-ms-expand { display: none; }
.ui-panel.notice{
	width: 100%;
	border-top:2px dashed #624141;
	padding: 20px 0 0 0!important;
}
.ui-panel-title{
	padding: 0;
	height: 94px;
	line-height: 94px;
}
.ui-panel-title span{
	font-size: 30px;	
}
.tips{
	float: left;
}
.tips span{
	display: inline-block;
	font-size: 26px;
	height: 50px;
	line-height: 50px;
	color: #333;
}
.ui-panel.policy-date,#insure .ui-panel.beneficiary{
	padding:0;
	border-top:2px dashed #624141;
	margin:0;
}
#insure .ui-input,#pay .ui-input{
	width: 75%;
	float: left;
	border-radius:0px;
	background: none;
	border: none;
	outline: none;
	padding-left:20px;
	font-size: 28px;
	height: 94px;
}
#idnumber{
	width:75%;
}
#insure .ui-panel.policy-date label,#insure .ui-panel.beneficiary label{
	color: #333;
	font-size: 28px;
}
.pd0{
	padding: 0!important;
}
.ui-input#ocp{
	background: url("arrow-down.png") no-repeat 94% center;
}
.ui-form-control{
	float: right;
	width: 75%;
}
.ui-form-group.ui-form-inline.bge0{
	background: #E0E0E0;
}
#pay .ui-panel.notice{
	border-top:none;
	padding:20px 2%!important;
	box-shadow:-1px 0 5px #E9E9E9,
                1px 0 5px #E9E9E9,
                0 -1px 5px #E9E9E9,
                0 1px 5px #E9E9E9;
}
#pay  .authorisation{
	background: #FFF9E4;
	color:#333;
	padding:20px;
	display: none;
	margin:0 auto;
}
#pay  .authorisation p{
	line-height: 150%;

}
.transfer .ui-input{
	font-size: 28px;
}
#checkbox2_simu{
	background: url("confirm-select1.png") no-repeat center;
	position: relative;
	top:-2px;
}